.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.container-form {
  display: flex;
  width: 25rem;
  height: 32rem;
  background-color: #ffa631;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #CCC;
  border-radius: 1rem;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.29), 0 6px 6px rgba(0, 0, 0, 0.29);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-form input {
  background-color: #ffc374;
  border: 2px solid #ffc374;
  border-radius: 4px;
  margin: 20px;
  width: 22rem;
  height: 2.5rem;
  padding: 0.5rem;
  color: #666;
  outline: none;
  transition: border-color 0.3s;
}

.container-form input + input {
  margin-top: 10px;
}

input.focus{
  border: 2px solid #5AB55E;
}


.container-form button {
  align-items: center;
  justify-content: center;
  background-color: red;
}

.buttonsForm {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 1.3rem;
}

.buttonsForm button + button {
  margin-left: 0.5rem;
}